body {
  font-family: 'Poppins', sans-serif;
  color: #323232;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  max-width: unset;
  width: 100%;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-left: 4px;
}

.nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list ul li {
  margin-right: 42px;
}

.nav-list ul li:last-child {
  margin-right: 0;
}

.nav-list ul a {
  text-decoration: none;
  color: inherit;
}

.nav-list ul a:hover {
  color: #F78434;
}

.nav-list ul a.active {
  color: #F78434;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input[type="submit"], button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.title {
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}

button {
  cursor: pointer;
  background: none;
  height: 58px;
  display: inline-block;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  line-height: 58px;
  font-weight: 700;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  width: 467px;
}

.header__text p {
  line-height: 27px;
  letter-spacing: 1.15px;
  margin-bottom: 42px;
}

.header__title {
  font-weight: bold;
  font-size: 54px;
  line-height: 79px;
  letter-spacing: 0.8px;
  padding-bottom: 25px;
  margin-right: -190px;
  position: relative;
}

.header__img img {
  border-radius: 40px 40px 40px 0px;
}

.form {
  width: 459px;
  height: 58px;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 28px;
}

.form__label::before {
  content: '';
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("/img/icons/mail.svg");
}

.form__input {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5px;
  border: none;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__input:-ms-input-placeholder {
  color: #bbb;
}

.form__input::-ms-input-placeholder {
  color: #bbb;
}

.form__input::placeholder {
  color: #bbb;
}

.form--active {
  -webkit-box-shadow: 0px 17px 42px rgba(255, 165, 40, 0.12);
          box-shadow: 0px 17px 42px rgba(255, 165, 40, 0.12);
}

.form__button {
  background-color: #F78434;
  color: #fff;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.form__button:hover {
  background-color: #EF6E14;
}

.clients {
  padding-top: 100px;
  padding-bottom: 90px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects {
  padding-top: 80px;
  padding-bottom: 80px;
}

.objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.objects__text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 181px;
  max-width: 555px;
  margin-right: 164px;
}

.objects__text p {
  padding-bottom: 20px;
}

.objects__title {
  padding-bottom: 20px;
}

.objects__button {
  margin-top: 20px;
  background-color: #F78434;
  color: #fff;
}

.img-card {
  position: relative;
  margin-left: 32px;
  width: 385px;
}

.img-card img {
  border-radius: 20px;
}

.img-card-2 img {
  border-radius: 20px 20px 0px 20px;
}

.img-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 29px 32px 29px;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__text {
  margin-left: 20px;
}

.card-info__title {
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */