* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
}

input[type="submit"], button{
    font-family: inherit;
    font-size: inherit;
    border: none;
}
.title{
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: 0.8px;
}
button{
    cursor: pointer;
    background: none;
    height: 58px;
    display: inline-block;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 29px;

    line-height: 58px;
    font-weight: 700;
}
input:focus, button:focus {
    outline: none;
}

ul, li {
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}