.nav{
    padding-top: 35px;
    padding-bottom: 33px;
}
.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-left: 4px;
}
.nav-list{
    ul{
        display: flex;
        li{
            margin-right: 42px;
            &:last-child{
                margin-right: 0;
            }
        }
        a{
            text-decoration: none;
            color: inherit;

            &:hover{
                color: #F78434;
            }
            &.active{
                color: #F78434;
                font-weight: 700;
            }
        }
    }
}
